In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.2'

In [3]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz

--2023-01-25 21:18:57--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz
Resolving github.com... 140.82.112.4
Connecting to github.com|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230126%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230126T041858Z&X-Amz-Expires=300&X-Amz-Signature=2f0bbc1fa8f50ff9609bf84752f59c9bb92da1c1b4ce15ad5774abb44f056e89&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-01-25 21:18:58--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230126%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230126T041858Z&X-Amz-Expires=300&X-Amz-Signature=2f0bbc1fa8f50ff9609bf84752f59c9bb92da1c1b4ce15ad5774abb44f056e89&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25031880 (24M) [application/octet-stream]
Saving to: 'yellow_tripdata_2021-01.csv.gz'

yellow_tripdata_202 100%[===================>]  23.87M  2.11MB/s    in 17s

2023-01-25 21:19:15 (1.44 MB/s) - 'yellow_tripdata_2021-01.csv.gz' saved [25031880/25031880]

In [5]:
ls

Dockerfile	ny_taxi_postgres_data/	yellow_tripdata_2021-01.csv.gz
Untitled.ipynb	pipeline.py

In [7]:
!head -n 10 yellow_tripdata_2021-01.csv

In [8]:
!wc -l yellow_tripdata_2021-01.csv

1369766 yellow_tripdata_2021-01.csv

In [9]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=100)

In [10]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [16]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [22]:
# !pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.5.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.3/384.3 kB 905.2 kB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.5-cp38-cp38-macosx_10_9_x86_64.whl size=145010 sha256=50ceef40196928e5e49ace5e55e453c43e63ba5591d736bcd25b520f72a81595
  Stored in directory: /Users/wangmacpro/Library/Caches/pip/wheels/c2/fd/ae/d19bc8b1735775c2ce310d26366bbaa09feac05ea9f18266ba
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.5

In [23]:
from sqlalchemy import create_engine

In [34]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [35]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [26]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [27]:
df = next(df_iter)

In [28]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [36]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [37]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 5.49 s, sys: 338 ms, total: 5.83 s
Wall time: 22.4 s

1000

In [38]:
from time import time

In [39]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 19.451 second
inserted another chunk, took 20.569 second
inserted another chunk, took 19.667 second
inserted another chunk, took 21.221 second
inserted another chunk, took 21.338 second
inserted another chunk, took 23.426 second
inserted another chunk, took 21.135 second
inserted another chunk, took 22.018 second
inserted another chunk, took 20.797 second
inserted another chunk, took 21.485 second
inserted another chunk, took 24.294 second

/var/folders/jz/gw0pfmwx7bgf5t23hvzk32p80000gn/T/ipykernel_31994/2113580993.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 20.738 second
inserted another chunk, took 16.022 second

StopIteration:

In [40]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-01-25 23:00:38--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com... 52.217.161.232, 52.216.27.190, 52.217.231.40, ...
Connecting to s3.amazonaws.com|52.217.161.232|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0.004s

2023-01-25 23:00:38 (3.15 MB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [41]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [42]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [43]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265